
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ProductsProject.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
<h2>Product List</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create","Products")">Add New</a>
</p>
<table class="table">
    <tr>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>CategoryId</th>
        <th>CategoryName</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Category.CategoryId</td>
            <td>@item.Category.CategoryName</td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("Edit","Products",new {id=item.ProductId})">Edit</a>
                <a class="btn btn-info" href="@Url.Action("Details","Products",new {id=item.ProductId})">Details</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Products",new {id=item.ProductId})">Delete</a>
            </td>
        </tr>
    }

</table>
    @Html.PagedListPager(Model,page=>Url.Action("Index",new {page}))
</div>

